<div class="passwordBox animated fadeInDown" ng-controller="forgotPwdCtrl">
    <div class="row">

        <div class="col-md-12">
            <div class="ibox-content">

                <h2 class="font-bold">Forgot password</h2>

                <p>
                    Enter your email address and your password will be reset and emailed to you.
                </p>
                <p class="btn btn-danger" ng-show="error_msg">{{error_msg}}</p>
                <p class="btn btn-primary" ng-show="success_msg">{{success_msg}}</p>
                <br><br>
                <div class="row">

                    <div class="col-lg-12">
                            <div class="form-group">
                                <input type="email" class="form-control" placeholder="Email address" required="" ng-model="email">
                            </div>

                            <button class="btn btn-primary block full-width m-b" ng-click="sendNewPasswordRequest(user)">Send new password</button>
                            <button class="btn btn-info block full-width m-b" ng-click="backToLogin()">Back</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr/>
    <div class="row">
        <div class="col-md-6">
            Copyright Example Company
        </div>
        <div class="col-md-6 text-right">
            <small>© 2014-2015</small>
        </div>
    </div>
</div>